<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>

    {% extends 'base.html' %}

    {% block content %}

        {% if error %}
            {{ error }}
            <br/>
        {% endif %}

        <h1>Sign Up!</h1>
        <form action="{% url 'signup' %}" method="post">
            {% csrf_token %}

            UserName:<br/> <input type="text" name="username"><br/>
            password:<br/> <input type="password" name="psw1"><br/>
            Confirm password:<br/> <input type="password" name="psw2"><br/>

            <input class="btn btn=primary" type="submit" value="SignUp">
        </form>

    {% endblock %}
</body>
</html>